@charset "utf-8";

#live-cameras-list {
  margin: 25px;
  position: relative;
}
#live-cameras-list nav .btn-default {
  color: #8e8e93;
  border-radius: 8px;
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 99;
  cursor: pointer;
  display: block;
}
#live-cameras-list nav .btn-default:nth-child(1) {
  left: 0;
}
#live-cameras-list nav .btn-default:nth-child(2) {
  right: 0;
}
#live-cameras-list nav .btn-default.disabled {
  color: #666666;
  background-color: #cccccc;
  border-color: #cccccc;
}
#live-cameras-list nav .btn-default i {
  font-size: 36px;
  width: 100%;
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  display: block;
}
#live-cameras-list .cameras {
  list-style: none;
  margin: 0 40px -25px 65px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#live-cameras-list .cameras li {
  width: calc(33% - 25px);
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
}
#live-cameras-list .cameras li.fault .camera {
  border: 4px solid #ff3b30;
}
#live-cameras-list .cameras li.calling .camera {
  border: 4px solid #448aff;
}
#live-cameras-list .cameras li > p {
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  min-width: 70px;
  margin-bottom: 0;
}
#live-cameras-list .cameras li > p span {
  margin-top: -22px;
  display: block;
}
#live-cameras-list .camera {
  position: relative;
}
#live-cameras-list .camera:before {
  content: "";
  background: linear-gradient(to bottom, rgba(28,32,37,0.7) 50%, rgba(28,32,37,0));
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
}
#live-cameras-list .camera a {
  text-align: center;
  color: #abb0c8;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  display: block;
}
#live-cameras-list .camera a:active {
  color: #ffffff;
}
#live-cameras-list .camera a.refresh {
  left: 10px;
}
#live-cameras-list .camera a.fullscreen {
  right: 10px;
}
#live-cameras-list .camera a.fullscreen i {
  font-size: 30px;
  position: absolute;
  top: -3px;
  left: -3px;
  display: block;
}
#live-cameras-list .no-camera {
  background-color: #e5e5ea;
  position: relative;
}
#live-cameras-list .no-camera p {
  text-align: center;
  line-height: 1;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  top: calc(50% - 37px);
  left: 0;
}
#live-cameras-list .no-camera p i {
  font-size: 60px;
  color: #abb0c8;
  display: block;
}

@media (hover) {
  #live-cameras-list .camera a:hover {
    color: #ffffff;
  }
}
